@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .active .clip-hero-container {
        background-color: rgb(220 38 38);
        max-width: 110px;
        z-index: 2;
    }

    .clip-hero-container {
        clip-path: circle(50% at 50% 50%);
        max-width: 100px;
        min-width: 40px;
    }

    .clip-hero-image {
        clip-path: circle(48% at 50% 50%);
        height: auto;
    }

    .clip-augment-container {
        clip-path: circle(var(--crop-size) at var(--crop-h) var(--crop-v));
        --crop-size: 50%;
        --crop-h: 50%;
        --crop-v: 50%;
        max-width: 40px;
    }

    .clip-augment-image {
        clip-path: circle(var(--crop-size) at var(--crop-h) var(--crop-v));
        --crop-size: 46%;
        --crop-h: 50%;
        --crop-v: 50%;
        height: auto;
        max-width: 100%;
    }

    @media (min-width: 768px) {
        .clip-augment-image {
            max-width: 100%;
        }

        .clip-augment-container {
            max-width: 80px;
        }

        .active .clip-hero-container {
            max-width: 120px;
        }
    }

    .augment {
        position: relative;
        display: inline-block;
        /* touch-action: none; */
    }

    .augment .augment-tooltip {
        visibility: hidden;
        /* top: 100%; */
        z-index: 1;
        position: absolute;
    }

    .augment:hover .augment-tooltip {
        visibility: visible;
    }

    .flexAugment {
        position: relative;
        display: inline-block;
    }

    .flexAugment .flexAugment-picker {
        visibility: hidden;
        /* top: 100%; */
        z-index: 1;
        position: absolute;
    }

    .flexAugment:hover .flexAugment-picker {
        visibility: visible;
    }
}